@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer components {
  .navbar-container {
    @apply fixed flex w-screen z-10 flex-row text-robins-egg-blue justify-between px-8 py-4 bg-bunting-500 shadow-lg;
  }

  .navbar-items {
    @apply flex flex-row;
  }

  .navbar-item {
    @apply px-2 transition duration-300 ease-in-out hover:text-razzmatazz;
  }

  .navbar-resume {
    @apply px-2 mx-2 border border-razzmatazz transition duration-300 ease-in-out hover:bg-razzmatazz hover:bg-opacity-50;
  }

  .landing-container {
    @apply flex justify-center text-robins-egg-blue items-center min-h-screen bg-bunting-500;
  }

  .landing-subheading {
    @apply text-lg text-razzmatazz;
  }

  .landing-heading {
    @apply text-4xl text-robins-egg-blue pb-4;
  }

  .landing-text {
    @apply text-lg text-robins-egg-blue-200;
  }

  .content-heading {
    @apply flex flex-row w-full lg:w-3/5 px-16 py-2 text-xl text-razzmatazz;
  }

  .about-wrapper {
    @apply flex flex-row flex-wrap justify-center w-full lg:w-3/5 px-16 py-4;
  }

  .about-content {
    @apply w-full md:w-1/2 py-2;
  }

  .content-container {
    @apply flex justify-center py-8 bg-green-500;
  }

  .featured-item-wrapper {
    @apply flex flex-row flex-wrap text-bunting md:w-3/4 lg:w-3/5 m-8 bg-white shadow-lg;
  }

  .featured-item-content {
    @apply w-full md:w-1/2;
  }

  .work-list-container {
    @apply grid grid-cols-3 text-bunting gap-4 w-full lg:w-3/5 px-8;
  }

  .work-item-wrapper {
    @apply w-full p-8 mx-1 my-4 bg-white shadow-lg;
  }
}